.section-about {
    background-image: linear-gradient(
        to right bottom,
        rgba($space-primary, 0.8),
        rgba($space-secondary, 0.8));
    padding: 25rem 0;
    margin-top: -20vh;
}